
<header>
    <div class="row b-b m-l-none m-r-none">
        <div class="col-sm-4">
            <h4 class="block text-muted"><i>Filename</i>&nbsp;:&nbsp;{{instance.sourceDir}}/{{instance.file}}</h4>

        </div>
        <div class="col-sm-4 text-center">
            <h4 class="m-t m-b-none">No name{{name}}</h4>
        </div>
        <div class="col-sm-4">
            <div class="clearfix m-t-lg m-b-sm pull-right pull-none-xs">
                <div class="btn-group m-b-sm">
                    <button class="btn btn-info" ng-click="restartUnit(instance.uid)">
                        <i class="icon-ok text"></i>
                        <span class="text">Restart</span>
                    </button>
                    <button class="btn btn-default" ng-click="cleanLog(instance.logFile)">
                        <i class="icon-ok text"></i>
                        <span class="text">Clear Log</span>
                    </button>
                    <button class="btn btn-success" href="#btn-1">
                        <i class="icon-refresh text"></i>
                        <span class="text">Refresh</span>
                    </button>
                    <button class="btn btn-primary"  ng-click="stopUnit(instance.uid)">
                        <i class="icon-off text"></i>
                        <span class="text">Stop</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <footer class="panel-footer bg-black lter text-center">
        <div class="row pull-out">
            <div class="col-xs-3">
                <div class="padder-v">
                    <small class="text-muted">Forever UID:&nbsp;</small>
                    <span class="m-b-xs h4 block">{{instance.uid}}</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="padder-v">
                    <small class="text-muted">Uptime:&nbsp;</small>
                    <span class="m-b-xs h4 block">{{ time.months}} months {{ time.days}} days {{time.hours}}h:{{time.minutes}}m:{{ time.seconds}}s</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="padder-v">
                    <small class="text-muted">Environment:&nbsp;</small>
                    <span class="m-b-xs h4 block">{{instance.env.toUpperCase()}}</span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="padder-v">
                    <small class="text-muted">Running:&nbsp;</small>
                    <span class="m-b-xs h4 block text-success" ng-show="instance.running == true">Online</span>
                    <span class="m-b-xs h4 block text-danger" ng-show="instance.running != true">Offline</span>
                </div>
            </div>
        </div>
    </footer>
</header>



<section class="panel panel-primary">
    <header class="panel-heading">
        Console.log <span class="badge bg-danger">{{instance.logContent.length-1 }}</span>
    </header>
    <section class="panel-body">
    </section>
        <table class="table table-hover">
            <tr ng-repeat="log in instance.logContent track by $index" ng-show="log.length">
                <td>{{$index + 1}}</td>
                <td>{{log}}</td>
            </tr>
        </table>
</section>
