<meta charset="utf-8" />
<title> uForever | Modern Forever Web UI </title>
<meta name="keywords" content="forever,app,web app,dashboard,admin,nodejitsu,ui,web ui,api, nodejs" />
<meta name="description" content="Modern Web UI for nodejitsu/forever" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
